# Application
app/upgrade
app/uploads

# WordPress
.htaccess
debug.log
wp

*custom.css*

# WordPress Plugins
app/plugins/debug-bar
app/plugins/developer
app/plugins/regenerate-thumbnails
app/plugins/user-switching
app/plugins/wordpress-seo
app/plugins/wp-migrate-db

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Composer
composer.phar

# Vendor (e.g. Composer)
vendor
!app/themes/pressed/vendor

# Ignore build directory
build

# Node Package Manager
node_modules
bower_components

# Ignored theme files
*.sass-cache*
*.log
.idea
